<!DOCTYPE html>
<html lang="en">
<head>
    <!-- meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Games</title>
    <!-- css: theme -->
    <link rel="stylesheet" href="~/css/theme.minaead.css?ver=5.0.3">
    <link rel="stylesheet" href="~/css/icofont.min.css">
    <link rel="stylesheet" href="~/css/style.css">
</head>

<body class="fixed-navbar">
    <div class="site">
        <header class="site-header">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="ya ya-bar"></i>
                    </button>
                    <a asp-controller="Home" asp-action="Index" class="navbar-brand">Games</a>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Games" asp-action="Index">Games</a>
                            </li>
                        </ul>
                    </div>
                    <!-- end .navbar-collapse -->
                    <form class="navbar-search" asp-controller="Games" asp-action="Search" method="get">
                        <div class="container">
                            <input name="search" type="search" class="form-control mr-sm-2" placeholder="Search for games..." aria-label="Search"><i class="ya ya-times search-close"></i>
                        </div>
                    </form>
                    <!-- end .navbar-search -->
                    <ul class="navbar-nav navbar-right flex-row d-flex align-items-center">
                        <li class="nav-item">
                            <a class="nav-link toggle-search" href="#"><i class="ya ya-search"></i></a>
                        </li>
                    </ul>
                    <!-- end .navbar-nav -->
                </div>
            </nav>
        </header>
        <!-- end .site-header -->
        <div>
            @RenderBody()
        </div>
        <!-- end .site-content -->
        <footer class="site-footer bg-dark">
            <div class="container">
                <div class="container d-flex flex-column flex-md-row">
                    <div class="order-2 order-md-1">
                        <div class="footer-links d-none d-md-inline-block">
                            <a href="#">About </a>
                        </div>
                        <p class="footer-copyright">
                            &copy; 2019 All rights reserved.
                        </p>
                    </div>
                    <div class="footer-social order-1 order-md-2 ml-md-auto text-center text-md-right">
                        <span class="d-none d-sm-block mb-2">follow us on social media</span>
                        <a href="#" data-toggle="tooltip" title="facebook"><i class="ya ya-facebook"></i></a>
                        <a href="#" data-toggle="tooltip" title="twitter"><i class="ya ya-twitter"></i></a>
                        <a href="#" data-toggle="tooltip" title="instagram"><i class="ya ya-instagram"></i></a>
                        <a href="#" data-toggle="tooltip" title="discord"><i class="ya ya-discord"></i></a>
                        <a href="#" data-toggle="tooltip" title="youtube"><i class="ya ya-youtube"></i></a>
                        <a href="#" data-toggle="tooltip" title="github"><i class="ya ya-github"></i></a>
                        <a href="#" data-toggle="tooltip" title="twitch"><i class="ya ya-twitch"></i></a>
                    </div>
                </div>
            </div>
        </footer>
        <!-- end .site-footer -->
    </div>
    <!-- end .site -->
    <!-- js: vendor -->
    <script src="~/js/vendor.js"></script>
    <script src="~/js/theme.minaead.js?ver=5.0.3"></script>
    <!-- js: plugins -->
    <script src="~/plugins/easypiechart/jquery.easypiechart.min.js"></script>

    @RenderSection("Scripts", false)

    <script>
        $(function () {
            $('.easypiechart').easyPieChart();
        });
    </script>
</body>
</html>